@import "normalize.css";
/*Police Poppins*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Thin.otf");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-ExtraLight.otf");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Light.otf");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.otf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Medium.otf");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-SemiBold.otf");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.otf");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-ExtraBold.otf");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Black.otf");
    font-style: normal;
    font-weight: 900;
}
/*Police Playfair Display*/
@font-face {
    font-family: "PlayfairDisplay";
    src: url("fonts/PlayfairDisplay-Black.otf");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url("fonts/PlayfairDisplay-Bold.otf");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url("fonts/PlayfairDisplay-Regular.otf");
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
}
h1,
h2,
h3,
h4 {
    font-family: "PlayfairDisplay";
}

/* Header*/
.header {
    background-color: #1f1d21;
}
.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header__nav li a {
    color: white;
    padding: 15px;
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
}
.btn-reserver {
    display: flex;
}
.btn-reserver__img {
    padding-left: 10px;
}
@media only screen and (max-width: 500px) {
    .header {
        min-height: 70px;
    }
    .header__nav {
        display: none;
    }
}
/*Section A propos */
.apropos {
    background-color: #1f1d21;
    padding: 35px 0;
}
.apropos__container {
    display: flex;
    margin: auto;
    width: 85%;
    align-items: flex-start;
    justify-content: space-between;
}
.apropos-txt {
    width: 45%;
    color: white;
}
.apropos-img {
    width: 45%;
    object-fit: cover;
    height: 350px;
    object-position: center;
}
.apropos-txt__h1 {
    font-size: 32.5px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
}
.apropos-txt__desc {
    font-size: 13px;
    font-weight: 300;
}
.btn-menu {
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #1f1d21;
    background-color: #ffb577;
    padding: 15px;
    width: 170px;
    justify-content: space-between;
    font-weight: 500;
    margin: 40px 0;
}
.apropos-txt__h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
}
.apropos-txt__p {
    font-size: 13px;
    font-weight: 300;
    margin-top: 0;
}

/* Section En savoir plus*/
.ensavoirplus {
    background-color: #1f1d21;
    padding: 35px 0;
}
.ensavoirplus__container {
    display: flex;
    margin: auto;
    width: 85%;
    justify-content: space-between;
}
.ensavoirplus-txt {
    color: white;
    width: 45%;
}
.section-intro {
    color: #ffb577;
    font-weight: 100;
    font-size: 14px;
    margin-top: 0;
    font-family: "PlayfairDisplay";
}
.section-intro span {
    color: white;
}
.section-titre {
    font-weight: 500;
    font-size: 35px;
    color: white;
}
.ensavoirplus-txt__desc {
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 40px;
    color: #c4e4ea;
}
.chiffres {
    display: flex;
    justify-content: space-between;
}
.chiffres__item {
    width: 28%;
}
.chiffres__item__top {
    height: 60px;
    margin-bottom: 40px;
}
.chiffres-titre {
    display: flex;
}
.chiffres-titre img {
    padding-right: 10px;
    padding-bottom: 5px;
    width: 22px;
}
.chiffres-titre h3 {
    margin: 0;
    font-family: Poppins;
    font-weight: 400;
    color: #c4e4ea;
    word-break: break-all;
}
.plus {
    margin-top: 0;
    font-weight: 200;
    font-size: 14px;
}
.chiffres__item__bottom {
    color: #c4e4ea;
    font-weight: 200;
    font-size: 14px;
}
.ensavoirplus-img {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.ensavoirplus-img__1 {
    object-fit: cover;
    width: 45%;
    padding-top: 180px;
    height: 580px;
}
.ensavoirplus-img__2 {
    object-fit: cover;
    width: 45%;
    height: 490px;
    padding-top: 90px;
}
@media only screen and (max-width: 800px) {
    .ensavoirplus__container {
        flex-direction: column;
    }
    .ensavoirplus-txt {
        width: 100%;
    }
    .chiffres__item {
        width: 30%;
    }
    .chiffres-titre {
        flex-direction: column;
    }
    .chiffres-titre h3 {
        font-size: 16px;
    }
    .plus {
        font-size: 12px;
    }
    .chiffres__item__bottom {
        font-size: 12px;
        margin-top: 60px;
    }
    .ensavoirplus-img {
        width: 100%;
    }
    .ensavoirplus-img__1 {
        padding-top: 90px;
    }
    .ensavoirplus-img__2 {
        padding-top: 0px;
    }
}
/* Section offres */
.offres {
    background-color: #1f1d21;
    padding: 35px 0;
}
.offres__container {
    width: 85%;
    margin: auto;
}
.offres__container .section-titre {
    width: 45%;
}
.offres-boite {
    display: flex;
    flex-wrap: wrap;
    background-color: #19161b;
    padding: 75px;
    color: white;
    justify-content: space-between;
    margin: auto;
}
.offres-item {
    width: 32%;
    margin-bottom: 35px;
}
.offres-item h3 {
    font-weight: 500;
    font-size: 23px;
}
.offres-item p {
    font-weight: 100;
    font-size: 14px;
    width: 70%;
}
@media only screen and (max-width: 500px) {
    .offres-item {
        width: 49%;
    }
    .offres-item p {
        font-size: 12px;
    }
    .offres-boite {
        padding: 40px;
    }
    .offres-item p {
        width: 90%;
    }
}
/* Section Carte */
.carte {
    background-color: #19161b;
    padding: 35px 0 70px 0;
}
.carte__container {
    width: 85%;
    margin: auto;
}
.carte__txt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.carte__txt__left {
    width: 45%;
}
.carte__txt__right {
    width: 45%;
    color: #b8b8b8;
    font-weight: 300;
}
.carte__txt__left p {
    font-size: 14px;
    color: #c4e4ea;
    font-weight: 200;
    font-family: "PlayfairDisplay";
    margin-top: 0;
}
.carte__menu {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}
.carte__menu__item {
    width: 32%;
    display: flex;
    flex-direction: column;
}
.carte__menu__item img {
    width: 100%;
}
.carte__menu__item h3 {
    background-color: #19161b;
    color: white;
    font-weight: 200;
    margin-top: 0;
    padding: 10px;
    width: auto;
    font-size: 14px;
}
.carte__container .btn-menu {
    margin: auto;
}
@media only screen and (max-width: 500px) {
    .carte__menu__item {
        width: 49%;
    }
}
/* Section avis */
.avis {
    background-color: #1f1d21;
    padding: 35px 0;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-start;
}
.avis__txt {
    width: 30%;
    color: #b8b8b8;
}
.avis__img {
    width: 60%;
    height: 400px;
    object-fit: cover;
}
@media only screen and (max-width: 500px) {
    .avis {
        flex-direction: column;
    }
    .avis__txt {
        width: 85%;
        margin: auto;
    }
    .avis__txt p {
        width: 75%;
    }
    .avis__img {
        margin-top: 60px;
        width: 100%;
        height: 200px;
    }
}
/* Section Blog */
.blog {
    background-color: #19161b;
    padding: 35px 0;
}
.blog__container {
    width: 85%;
    margin: auto;
}
.blog__container .section-titre {
    width: 25%;
}
.articles {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article {
    background-color: #1f1d21;
    color: white;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article__txt {
    padding: 15px;
    font-weight: 100;
}
.article__txt__date {
    margin-top: 0;
    font-size: 12px;
}
.article__txt__apercu {
    font-size: 13px;
}
.article img {
    width: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 500px) {
    .blog__container .section-titre {
        width: 50%;
    }
    .article {
        width: 47%;
        margin-bottom: 35px;
    }
}
/* Section Contact */
.contact {
    background-color: #19161b;
    padding: 35px 0;
}
.contact__container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 95vh;
}
.contact__container__txt {
    width: 40%;
    color: white;
    background-color: #1f1d21;
    padding: 0 5%;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact__container__txt h2 {
    font-weight: 500;
    margin-bottom: 0;
    font-size: 18px;
}
.contact__container__txt h2:first-child {
    margin: 0;
}
.contact__container__txt p {
    font-weight: 200;
    font-size: 12px;
}
.email {
    padding: 0;
    margin: 0;
}
.contact__container__img {
    width: 60%;
    object-fit: cover;
}
